html,body{height:100vh;}
body{padding:0;margin:0;background-color:var(--kg-bg);color:var(--kg-fg);font-family:var(--kg-font);}
*,*::before,*::after{box-sizing:border-box;}

.w-100{width:100%;}
.w-75{width:75%;}
.w-50{width:50%;}
.w-25{width:25%;}

.d-flex{display:flex;}
.d-grid{display:grid;}

.center{text-align:center;}
.d-flex.center{align-items:center;justify-content:center;}
.d-grid.center,.d-grid .center{text-align:center;justify-content:center;}

.flex-col{flex-direction:column;}

.no-wrap{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.btn{cursor:pointer;}
.btn-outline{
    background-color:var(--kg-bg);
    border:solid 1px var(--th-color);
    border-radius:.4rem;
    color:var(--th-color);
    font-size:16px;
    padding:.4rem .3rem;
    text-decoration:none;
    text-align:center;
    font-family:var(--kg-font);
    margin:.3rem;
    transition:background-color 200ms, color 150ms;
}
.btn-outline:hover{background-color:var(--th-color);color:var(--kg-bg);}
.btn-lg{font-size:19px;}
.btn-sm{font-size:13px;}
.link{color:var(--th-color);}

.primary{--th-color:var(--kg-primary);}
.secondary{--th-color:var(--kg-secondary);}

.border{border:solid var(--kg-fg-darker)}
.border-1{border-width:1px;}
.border-2{border-width:2px;}
.radius-1{border-radius:.2rem;}
.radius-2{border-radius:.4rem;}
.radius-3{border-radius:.6rem;}
.radius-4{border-radius:.8rem;}

.p-1{padding:.5rem;}
.p-2{padding:1rem;}
.p-3{padding:1.5rem;}
.p-4{padding:2rem;}
.p-5{padding:2.5rem;}

.mx-auto{margin:0 auto;}
.my-auto{margin:auto 0}
.m-auto{margin:auto;}

.mx-1{margin:0 .5rem;}
.mx-2{margin:0 1rem;}
.mx-3{margin:0 1.5rem;}
.mx-4{margin:0 2rem;}
.mx-5{margin:0 2.5rem;}
.mx-6{margin:0 5rem;}
.mx-7{margin:0 10rem;}
.mx-8{margin:0 15rem;}

.m-0{margin:0;}
.m-1{margin:.5rem;}
.m-2{margin:1rem;}
.m-3{margin:1.5rem;}
.m-4{margin:2rem;}
.m-5{margin:2.5rem;}
.m-6{margin:5rem;}
.m-7{margin:10rem;}
.m-8{margin:15rem;}
.mt-0{margin-top:0;}
.mt-1{margin-top:.5rem;}
.mt-2{margin-top:1rem;}
.mt-3{margin-top:1.5rem;}
.mt-4{margin-top:2rem;}
.mt-5{margin-top:2.5rem;}
.mt-6{margin-top:5rem;}
.mt-7{margin-top:10rem;}
.mt-8{margin-top:15rem;}
.mb-0{margin-bottom:0;}
.mb-1{margin-bottom:.5rem;}
.mb-2{margin-bottom:1rem;}
.mb-3{margin-bottom:1.5rem;}
.mb-4{margin-bottom:2rem;}
.mb-5{margin-bottom:2.5rem;}
.mb-6{margin-bottom:5rem;}
.mb-7{margin-bottom:10rem;}
.mb-8{margin-bottom:15rem;}

.h1{font-size:2.7rem;}
.h2{font-size:2rem;}
.h3{font-size:1.6rem;}
