#ia-ig {
    width: 4rem;
    height: 4rem;
}

#header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: rgba(0,0,0,0.5);
}

#header h1 {
	display: inline-block;
    font-size: 3rem;
	transform: translateY(-1rem);
    margin: 0;
    padding: 0;
}
