:root {
	--iconSize: 50px
}

body {
	background-color: #2e3040;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#titleContainer {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: var(--iconSize);
}

.fullSizeImg {
	display: inline-block;
	height: var(--iconSize);
	width: var(--iconSize);
}

.fullSize {
	height: 100%;
	width: auto;
}

#gradient {
	position: absolute;
	left: var(--iconSize);
	display: inline-block;
	width: 25%;
	height: 100%;
	background: linear-gradient(90deg, #d42e3b 0%, rgba(0, 0, 0, 0) 100%);
	font-size: calc(var(--iconSize) - 15px);
}

.centerText {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	text-align: center;
	transform: translate(0%, -50%);
}

.titleCenterText {
	position: absolute;
	top: 50%;
	left: 2%;
	width: 80%;
	transform: translate(0%, -50%);
}

#contentSectionOne {
	position: absolute;
	left: 5%;
	width: 95%;
	top: 10%;
	height: 90%;
}

#sectionOneImg {
	position: absolute;
	top: 5%;
	left: calc(90% - 960px);
	width: 960px;
	height: 480px;
	border-radius: 10px;
	overflow: hidden;
}

#titleContent {
	position: absolute;
	font-size: 2vw;
	top: 10%;
	left: 0%;
	width: 50%;
}

#titleParagraph {
	position: absolute;
	font-size: 1.2vw;
	top: 17.5%;
	left: 0%;
	width: calc(85% - 930px);
}

#downloadLinks {
	position: absolute;
	font-size: 1.5vw;
	top: 50%;
	left: 0%;
	width: 32.5%;
}

.download {
	position: relative;
	cursor: pointer;
	display: inline-block;
	background-color: rgb(221, 125, 0);
	border-radius: 5px;
	width: 25%;
	height: 40px;
	transition: all 200ms;
}

.download:hover {
	background-color: rgb(255, 149, 0);
}

#copyright {
	position: absolute;
	font-size: 18px;
	top: calc(100% - 22px);
	left: 0%;
}

.downloadIcon {
	position: absolute;
	left: 50%;
	top: 57.5%;
	transform: translate(-50%, -50%);
}

.returnLink {
	color: rgb(0, 150, 209);
	transition: all 200ms;
}

.returnLink:hover {
	color: rgb(0, 183, 255);
}

#mobileBlock {
	display: none;
}

a {
	text-decoration: none;
}

@media only screen and (max-device-width: 1375px) {
	#mobileBlock {
		position: absolute;
		font-size: 3vw;
		background-color: #2e3040;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 999999;
	}
}
